<form [formGroup]="studentEntryForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error': !studentEntryForm.controls['firstName'].valid && studentEntryForm.controls['firstName'].dirty}">
        <label for="inputFirstName">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" formControlName="firstName">
        <div class="error-container" *ngIf="studentEntryForm.controls['firstName'].dirty && studentEntryForm.controls['firstName'].errors">
            <p *ngIf="studentEntryForm.controls['firstName'].errors.required" class="text-danger help-text">First name is required.</p>
            <p *ngIf="studentEntryForm.controls['firstName'].errors.invalidAlphaString" class="text-danger help-text">Only alpha characters are allowed.</p>
        </div>  
    </div>
    <div class="form-group" [ngClass]="{'has-error': !studentEntryForm.controls['lastName'].valid && studentEntryForm.controls['lastName'].dirty}">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" formControlName="lastName">
        <div class="error-container" *ngIf="studentEntryForm.controls['lastName'].dirty && studentEntryForm.controls['lastName'].errors">
            <p *ngIf="studentEntryForm.controls['lastName'].errors.required" class="text-danger help-text">Last name is required.</p>
            <p *ngIf="studentEntryForm.controls['lastName'].errors.invalidAlphaString" class="text-danger help-text">Only alpha characters are allowed.</p>
        </div>  
    </div>
    <div class="form-group" [ngClass]="{'has-error': !studentEntryForm.controls['dob'].valid && studentEntryForm.controls['dob'].dirty}">
        <label for="inputDob">Date of Birth</label>
        <input type="date" class="form-control" id="inputDob" formControlName="dob">
        <div class="error-container" *ngIf="studentEntryForm.controls['dob'].dirty && studentEntryForm.controls['dob'].errors">
            <p *ngIf="studentEntryForm.controls['dob'].errors.invalidDate" class="text-danger help-text">Please enter the date of birth in the format: YYYY-MM-DD</p>
            <p *ngIf="studentEntryForm.controls['dob'].errors.required" class="text-danger help-text">Date of birth is required.</p>
        </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !studentEntryForm.controls['gpa'].valid && studentEntryForm.controls['gpa'].dirty}">
        <label for="inputGpa">GPA</label>
        <input type="text" class="form-control" id="inputGpa" placeholder="GPA" formControlName="gpa">
        <div class="error-container" *ngIf="studentEntryForm.controls['gpa'].dirty && studentEntryForm.controls['gpa'].errors">
            <p *ngIf="studentEntryForm.controls['gpa'].errors.invalidGpa" class="text-danger help-text">Please enter a valid GPA value in the format: x.xx</p>
            <p *ngIf="studentEntryForm.controls['gpa'].errors.required" class="text-danger help-text">GPA is required.</p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!studentEntryForm.valid">Submit</button>
</form>