<form [formGroup]="studentEntryForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error': !studentEntryForm.controls['firstName'].valid && studentEntryForm.controls['firstName'].touched}">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name" formControlName="firstName">
        
    </div>
    <div class="form-group" [ngClass]="{'has-error': !studentEntryForm.controls['lastName'].valid && studentEntryForm.controls['lastName'].touched}">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name" formControlName="lastName">
    </div>
    <div class="form-group" [ngClass]="{'has-error': !studentEntryForm.controls['dob'].valid && studentEntryForm.controls['dob'].touched}">
        <label for="exampleInputEmail1">Date of Birth</label>
        <input type="date" class="form-control" id="exampleInputEmail1" formControlName="dob">
    </div>
    <div class="form-group" [ngClass]="{'has-error': !studentEntryForm.controls['gpa'].valid && studentEntryForm.controls['gpa'].touched}">
        <label for="exampleInputEmail1">GPA</label>
        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="GPA"formControlName="gpa">
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!studentEntryForm.valid">Submit</button>
</form>